* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  
  
}

img {
  max-width: 100%;
  height: auto;
}
              /* start navbar style */

.wrapper {
 width: 70%;
 margin: auto;
}
.navbar__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;

}
.navbar__menu-item {
  list-style-type: none;
  font-size: 20px;
}
.navbar__menu-item a {
  text-decoration: none;
  color:#828282;
  transition: 0.5s
}
.navbar__menu-item > a:hover {
  background-color: black; 
  padding: 5px 10px;
  color: aliceblue;
  border-radius: 7px;
  transition: 0.7s;
}
.navbar__linia {
  margin-top: 40px;
  border: 1px solid #828282;
  transform: matrix(1, 0, 0, 1, 0, 0);
  margin-bottom: 35px;
}

                /* Navbar style end */


                /* header style start */

.header {
  margin-bottom: 105px;
}
.header__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px;
}
.header__top-title {
  width: 20%;
  font-size: 36px;
  line-height: 40px;
  color: #070707;
}

.header__top-desc {
  width: 13%;
  font-size: 16px;
  line-height: 22px;
  color: #070707;
 
}
.header__top-desc2 {
  width: 13%;
  font-size: 16px;
  line-height: 22px;
  color: #070707;
}
.header__top-pic {
  width: 100%;
  height: 500px;
  box-shadow:rgba(41, 39, 39, 0.836);

}
.burger__menu {
  display: none;
}
.mobile__img-pic {
  display: none;
}
                              /* header style end*/

                              /* content style start */


.benefits {
  width: 100%;
  margin-bottom: 100px;
}
 .benefits__info { 
  background: #f7f3f7;
  height: 550px;
  width: 100%;
  padding-top: 60px;

 
 }
 .benefits__info-pic {
  width: 10%;
  margin-left: 60px;
  transition: 0.6s;
 }
 .benefits__info-pic:hover {
  background-color: rgba(7, 168, 255, 0.836);
  padding: 15px 30px;
  transition: 0.7s;
  border-radius: 7px;
 }


 .benefits__info-pic2 {
  width: 10%;
  margin-left: 1100px;
  transition: 0.6s;
 }
  .benefits__info-pic2:hover {
  background-color: rgba(7, 168, 255, 0.836);
  padding: 15px 30px;
  transition: 0.7s;
  border-radius: 7px;
 }


.benefits__info-title {
  margin-top: 30px;
  text-align: center;
  font-size: 34px;
  line-height: 42px;
  text-align: center;
  color: #070707;
  margin-bottom: 40px;
}
.benefits__info-desc {
  margin: 0 auto;
  width: 30%;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #070707;
  margin-bottom: 40px;
}

                      /* benefits style end */

                      /* Intro style start */
                    
.intro {
  width: 100%;
  margin-bottom: 150px;
}
.intro__wrap {
  width: 70%;
  margin: 0 auto;
}
.intro__skils-title {
  margin: auto;
  font-size: 38px;
  line-height: 42px;
  text-align: center;
  color: #070707;
  margin-bottom: 30px;
}
.intro__skils-desc {
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #070707;
  margin-bottom: 100px;
}
.intro__skils-cards {
 display: grid;
 grid-template-columns: repeat(4, 1fr);
 grid-column-gap: 35px;
}
.intro__skils-pic {
  transition: 0.5s;
}
.intro__skils-pic:hover {
background-color: #b6adad;
padding: 10px;
transition: 0.7s;

}
                      /* intro style end */
                      
                     /* Portfolio  style start*/

.portfolio {
  background: #f7f3f7;
  height: 1100px;
  padding-top: 50px;
  margin-bottom: 200px;
}
.portfolio__wrap {
  width: 90%;
  margin: 0 auto;
}
.portfolio__hobby {
  width: 100%;
}
.potfolio__title {
  margin: auto;
  font-size: 38px;
  line-height: 42px;
  text-align: center;
  color: #070707;
  margin-bottom: 30px;
  
}
.portfolio__title-top {
  font-size: 38px;
  line-height: 42px;
  color: #070707;
  margin-bottom: 30px;
}
.portfolio__card-pic {
  box-shadow: 10px 10px 8px 10px #d6cfcf;

}

.portfolio__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 50px;
  margin-bottom: 50px;
}
.portfolio__card-desc {
  font-size: 28px;
  text-align: center;
  color: #070707;
  margin-bottom: 20px;
}

.portfolio__cards-bottom {
display: grid;
grid-template-columns: repeat(2, 1fr);
grid-column-gap: 10px;

}
.portfolio__botton-pic{
  width: 100%;
  height: 80%;
  box-shadow: 10px 10px 8px 10px #d6d3d3;
}
.portfolio__new-page {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.portfolio__new-btn{
  background-color: aqua; /* Green */
  border: none;
  color: black;
  padding: 15px 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition: 0.7s;
  }
  .portfolio__new-btn:hover {
    background-color: aqua;
    padding: 15px 60px;
    transition: 0.7s;
  }
  

                   /* Portfolio  style end*/

                  /* Footer  style start*/


.footer {
  background : url(/img/12.jpg) no-repeat;
  padding-top: 50px;
}
.footer__wrap {
  width: 80%;
  margin: 0 auto;
}
.footer__title {

  font-size: 36px;
  color: #f9f9fa;
  margin-bottom: 100px;
}
.search__form {
  border: 0;
  border: 0px solid red;

}
.serach__form-info{
  display: flex;
  flex-wrap: wrap;
}

.search__form-field {
  border-color: none;
  width: 297px;
  padding-left: 43px;
  padding-bottom: 22px;
  background: transparent url(/img/circle-icon.svg) no-repeat left top;
  background-size: 20px;
  border: 0;
  border-bottom: 2px solid #BFC0C5;
  margin-right: 60px;
  font-size: 18px;
  line-height: 24px;
  color: #FFFFFF;
}
.search__form-field1{
  border-color: none;
  width: 297px;
  padding-left: 43px;
  padding-bottom: 22px;
  background: transparent url(/img/circle-icon.svg) no-repeat left top;
  background-size: 20px;
  border: 0;
  border-bottom: 2px solid #BFC0C5;
  margin-right: 60px;
  font-size: 18px;
  line-height: 24px;
  color: #FFFFFF;
}
.search__form-field1::placeholder{
  font-size: 18px;
  line-height: 24px;
  color: #FFFFFF;
}
.search__form-field2{
  border-color: none;
  width: 297px;
  padding-left: 43px;
  padding-bottom: 22px;
  background: transparent url(/img/circle-icon.svg) no-repeat left top;
  background-size: 20px;
  border: 0;
  border-bottom: 2px solid #BFC0C5;
  margin-right: 60px;
  font-size: 18px;
  line-height: 24px;
  color: #FFFFFF;
}
.search__form-field2::placeholder{
  font-size: 18px;
  line-height: 24px;
  color: #FFFFFF;
}
.search__form-field::placeholder{
  font-size: 18px;
  line-height: 24px;
  color: #FFFFFF;
}
.search__form-submit {
  padding: 15px 39px;
  text-transform: uppercase;
  font-weight: 500px;
  font-size: 24px;
  color: white;
  background: #1B7DFF;
  border: 0;
  transition: 0.5s;
}
.search__form-submit:hover, .search__form-submit:focus, .search__form-submit:active {
background:#1554a7;
transition: 0.6s;
}
.footer__bottom {
margin-top: 100px;
width: 100%;
}
.footer__bottom-title {
  font-size: 30px;
  color: #edeef4;
  text-align: center;
  margin-bottom: 30px;
}
.footer__btn {
  margin-bottom: 50px;
  color: #fff;
  margin-left: 420px;
  font-size: 16px;
  background-color: black;
  padding: 15px 50px;
  border-radius: 30px;
  transition: 0.5s;
  border: 0;
 

}
.footer__seach {
text-align: center;}
.footer__btn:hover {
background-color: #09a0f8;
transition: 0.5s;
padding: 20px 50px;
}
.footer__icon {
  display: flex;
  justify-content: center;
 
}
.footer__bottom-pic {
  margin-right: 30px;
  background-color: rgba(157, 151, 151, 0.836);
  padding: 10px 20px;
  border-radius: 8px;
  margin-bottom: 30px;
}

.footer__bottom-desc{
 width: 30%;
  font-size: 20px;
  color: #edeef4;
  text-align: center;
  margin: 0 auto;
}
                                  /* footer style end  */